<header class="flex h-16 items-center px-6 justify-between">
  <div>
    <button
      (click)="onToggleSidebar()"
      class="p-2 hover:bg-white/10 rounded-lg transition-colors text-zinc-400 hover:text-white"
    >
      <lucide-icon [img]="menuIcon" class="w-6 h-6 stroke-[1.5px]"></lucide-icon>
    </button>

    <span class="ms-4 font-bold text-xl tracking-tight text-white">Nuvinary</span>
  </div>

  <div class="relative">
    <button
      (click)="toggleMenu()"
      class="w-10 h-10 rounded-full bg-brand border border-brand/20 flex items-center justify-center shadow-lg hover:bg-brand-light transition-all focus:outline-none"
    >
      <span class="text-white font-bold text-md tracking-widest mt-0.5">
        {{ userInitials() }}
      </span>
    </button>

    @if (isMenuOpen) {
      <div
        class="absolute right-0 mt-3 w-60 bg-white rounded-lg shadow-2xl z-50 border border-indigo-100 animate-in fade-in zoom-in duration-300"
      >
        <div class="border-b p-1 border-gray-200">
          <div
            class="w-full h-14 ps-2 flex flex-col items-start justify-center text-indigo-950 font-bold"
          >
            {{ authUser()?.firstName }} {{ authUser()?.lastName }}
            <span class="text-xs text-slate-500">{{ authUser()?.email }}</span>
          </div>
        </div>

        <div class="border-b border-gray-200 flex flex-col gap-1 p-1">
          <button
            class="w-full ps-2 h-10 flex items-center gap-2 text-sm text-slate-600 rounded-md hover:bg-slate-100 transition-colors"
          >
            <lucide-icon [img]="circleUserRoundIcon" class="w-4 h-4 stroke-[1.5px]"></lucide-icon>
            Profile Settings
          </button>
          <button
            class="w-full ps-2 h-10 flex items-center gap-2 text-sm text-slate-600 rounded-md hover:bg-slate-100 transition-colors"
          >
            <lucide-icon [img]="chartLineIcon" class="w-4 h-4 stroke-[1.5px]"></lucide-icon>
            Account Overview
          </button>
          <button
            class="w-full ps-2 h-10 flex items-center gap-2 text-sm text-slate-600 rounded-md hover:bg-slate-100 transition-colors"
          >
            <lucide-icon [img]="lockOpenIcon" class="w-4 h-4 stroke-[1.5px]"></lucide-icon>
            Security & Password
          </button>
          <button
            class="w-full ps-2 h-10 flex items-center gap-2 text-sm text-slate-600 rounded-md hover:bg-slate-100 transition-colors"
          >
            <lucide-icon [img]="settingsIcon" class="w-4 h-4 stroke-[1.5px]"></lucide-icon>
            Preferences
          </button>
        </div>
        <div class="p-1">
          <button
            class="w-full ps-2 h-10 flex items-center gap-2 text-red-500 text-sm rounded-md hover:bg-red-50 transition-colors"
            (click)="onLogOut()"
          >
            <lucide-icon [img]="logOutIcon" class="w-4 h-4 stroke-[1.5px]"></lucide-icon>
            Log Out
          </button>
        </div>
      </div>
    }
  </div>
</header>
