<header class="flex h-16 items-center px-6 justify-between">
  <div>
    <button
      (click)="onToggleSidebar()"
      class="p-2 hover:bg-white/10 rounded-lg transition-colors text-zinc-400 hover:text-white"
    >
      <lucide-icon [img]="menuIcon" class="w-6 h-6 stroke-[1.5px]"></lucide-icon>
    </button>

    <span class="ms-4 font-bold text-xl tracking-tight text-white">Nuvinary</span>
  </div>

  <div class="relative">
    <button
      (click)="toggleMenu()"
      class="w-10 h-10 rounded-full bg-brand border border-brand/20 flex items-center justify-center shadow-lg hover:bg-brand-light transition-all focus:outline-none"
    >
      <span class="text-white font-bold text-md tracking-widest mt-0.5">
        {{ userInitials() }}
      </span>
    </button>

    @if (isMenuOpen) {
      <app-user-menu (closeMenu)="isMenuOpen = false"></app-user-menu>
    }
  </div>
</header>
