<section class="min-h-screen flex flex-col">
  <header class="flex items-center px-6 py-4 shrink-0">
    <div class="flex items-center gap-2 cursor-pointer" routerLink="/">
      <div class="h-8 w-8 rounded bg-linear-to-tr from-orange-500 to-yellow-400"></div>
      <span class="text-xl font-bold text-white tracking-tighter">Nuvinary</span>
    </div>
  </header>

  <main class="flex flex-1 flex-col items-center justify-center p-6">
    <div class="flex-none h-20"></div>

    <div class="w-full max-w-xl bg-card-bg p-8 rounded-4xl shadow-2xl">
      <h2 class="text-3xl mb-15 text-center font-black text-text-main tracking-tight">
        Welcome Back
      </h2>

      <form (submit)="onSubmit($event)" class="flex flex-col gap-8">
        <div class="flex flex-col gap-3">
          <label for="email" class="text-xs font-bold uppercase ml-1 text-brand"
            >Email Address</label
          >
          <input
            type="email"
            id="email"
            [formField]="loginForm.email"
            placeholder="Enter your E-mail"
            class="bg-page-bg/30 border border-brand/10 rounded-xl px-4 py-3 focus:outline-hidden focus:ring-2 focus:ring-brand/40 transition-all placeholder:text-sm"
          />
          @if (loginForm.email().touched() && loginForm.email().invalid()) {
            <div class="ps-1">
              @for (error of loginForm.email().errors(); track error.message) {
                <p class="text-red-500 text-xs">{{ error.message }}</p>
              }
            </div>
          }
          @if (loginForm.email().valid() && !authError()) {
            <div class="ps-1">
              <p class="text-green-500 text-xs">Email looks good!</p>
            </div>
          }
        </div>

        <div class="flex flex-col gap-3">
          <label for="password" class="text-xs font-bold uppercase ml-1 text-brand">Password</label>
          <input
            type="password"
            id="password"
            [formField]="loginForm.password"
            placeholder="Enter your password"
            class="bg-page-bg/30 border border-brand/10 rounded-xl px-4 py-3 focus:outline-hidden focus:ring-2 focus:ring-brand/40 transition-all placeholder:text-sm"
          />
          @if (loginForm.password().touched() && loginForm.password().invalid()) {
            <div class="ps-1">
              @for (error of loginForm.password().errors(); track error.message) {
                <p class="text-red-500 text-xs">{{ error.message }}</p>
              }
            </div>
          }
          @if (loginForm.password().valid() && !authError()) {
            <div class="ps-1">
              <p class="text-green-500 text-xs">Password looks good!</p>
            </div>
          }
        </div>

        <div class="flex flex-col gap-3">
          @if (authError()) {
            <div class="mt-4">
              <p class="text-red-500 text-sm text-center">{{ authError() }}</p>
            </div>
          }

          <button
            type="submit"
            [disabled]="!loginForm().valid()"
            class="mt-4 font-bold py-3 rounded-xl shadow-lg transition-all enabled:bg-brand enabled:hover:bg-brand-light enabled:text-white enabled:shadow-brand/20 enabled:active:scale-95 disabled:bg-gray-300 disabled:text-white disabled:shadow-none"
          >
            Sign In
          </button>
        </div>
      </form>
      <div class="mt-8 text-center">
        <p class="text-sm text-text-main">
          New to Nuvinary?
          <a routerLink="/signup" class="text-brand hover:text-brand-light font-bold ml-1"
            >Create Account</a
          >
        </p>
      </div>
    </div>
    <div class="flex-1"></div>
  </main>

  <app-footer></app-footer>
</section>
