<app-header></app-header>

<div #vantaContainer class="w-screen h-screen overflow-hidden">
  <div
    class="flex flex-col items-center justify-center h-full w-full transition-transform duration-75 ease-out"
  >
    <div
      class="flex flex-col items-center gap-4 bg-white/10 backdrop-blur-xl border border-white/20 p-10 md:p-20 rounded-[2.5rem] text-center shadow-2xl select-none"
    >
      <h1 class="text-6xl md:text-9xl font-black text-white tracking-tighter drop-shadow-2xl">
        Nuvinary
      </h1>

      <p class="text-blue-50 text-xl md:text-2xl font-light mb-10 tracking-wide max-w-md">
        Where clouds meet <span class="text-orange-400 font-medium">visionary</span> ideas.
      </p>
    </div>
  </div>
</div>
