<app-page-layout title="Create">
  <main class="flex justify-center mt-20">
    <form (submit)="onSubmit($event)" class="flex flex-col gap-16 w-full max-w-2xl">
      <div class="flex flex-col gap-6 min-h-40">
        <h1 class="font-mono font-bold text-5xl leading-relaxed text-gradient-brand">
          {{ displayedUserGreeting() }}
        </h1>

        <h2 class="font-mono font-bold text-3xl leading-tight">
          @if (isThinking()) {
            <span class="flex gap-1 text-[#94afd1]">
              <span class="animate-dot">.</span>
              <span class="animate-dot dot-2">.</span>
              <span class="animate-dot dot-3">.</span>
            </span>
          } @else {
            <span class="text-gradient">
              {{ displayedText() }}
            </span>

            @if (isTyping()) {
              <span
                class="inline-block w-0.75 h-[0.9em] ml-1 translate-y-[0.1em] bg-[#94afd1] animate-pulse"
              ></span>
            }
          }
        </h2>
      </div>

      @if (currentStep() === 'prompt') {
        <div class="animate-in fade-in slide-in-from-bottom-4 duration-1200">
          <textarea
            [formField]="creationForm.prompt"
            class="block w-full p-6 font-semibold text-lg rounded-3xl border border-zinc-200 bg-white shadow-sm resize-none outline-none placeholder:text-zinc-300 focus:ring-4 focus:ring-text-main/10 transition-all"
            rows="4"
            placeholder="e.g. A cybernetic owl with glowing blue eyes in a dark forest..."
          >
          </textarea>

          <div class="flex justify-end mt-4">
            <button
              (click)="onSetTitle()"
              type="button"
              [disabled]="creationForm.prompt().invalid() || isTyping()"
              class="flex items-center gap-2 px-8 py-3 font-bold rounded-2xl bg-text-main text-white shadow-lg shadow-text-main/20 disabled:opacity-30 disabled:cursor-not-allowed hover:bg-[#6a5aa3] transition-all"
            >
              Next
              <lucide-icon [img]="icons.arrowRightIcon" class="w-4 h-4"></lucide-icon>
            </button>
          </div>
        </div>
      }

      @if (currentStep() === 'title') {
        <div class="animate-in fade-in slide-in-from-bottom-4 duration-500">
          <input
            type="text"
            [formField]="creationForm.title"
            class="w-full p-6 font-semibold text-lg rounded-3xl border border-zinc-200 bg-white shadow-sm outline-none placeholder:text-zinc-300 focus:ring-4 focus:ring-text-main/10 transition-all"
            placeholder="Enter a title (or leave blank for magic)..."
          />

          <div class="flex justify-between mt-4">
            <button
              (click)="onBack()"
              type="button"
              class="px-6 py-3 font-bold text-zinc-400 disabled:opacity-30 hover:text-zinc-600 transition-colors"
              [disabled]="isTyping()"
            >
              Back
            </button>

            <button
              type="submit"
              [disabled]="creationForm().invalid() || isTyping()"
              class="flex items-center gap-2 px-6 py-3 font-bold rounded-2xl bg-text-main text-white shadow-lg shadow-text-main/20 disabled:opacity-30 disabled:cursor-not-allowed hover:bg-[#6a5aa3] transition-all"
            >
              <lucide-icon [img]="icons.cloudUploadIcon" class="w-4 h-4"></lucide-icon>
              Generate Image
            </button>
          </div>
        </div>
      }
    </form>
  </main>
</app-page-layout>
