<h1 class="mb-6 font-black text-4xl text-center text-primary tracking-tight">Forgot Password?</h1>

@if (!isResetting()) {
  <p class="mb-8 text-center text-sm">
    Enter your email address and we'll send you a link to reset your password.
  </p>
  <form (submit)="onRequest($event)" class="flex flex-col gap-4">
    <app-form-input
      [field]="requestResetForm.email"
      purpose="email"
      autocomplete="username"
    ></app-form-input>

    <div class="flex justify-center" [class.h-30]="isLoading()">
      @if (!isLoading()) {
        <app-button
          [disabled]="requestResetForm().invalid()"
          label="Reset Password"
          type="submit"
        ></app-button>
      } @else {
        <app-loader />
      }
    </div>
  </form>
} @else {
  <p class="mb-8 text-center text-sm">
    Enter the verification code and your new password to complete the reset.
  </p>
  <form (submit)="onReset($event)" class="flex flex-col gap-4">
    <app-form-input [field]="resetPasswordForm.code" purpose="code">
      <app-button
        [disabled]="!canResend()"
        (click)="onResendCode()"
        [label]="resendButtonLabel()"
        variant="secondary"
      >
      </app-button>
    </app-form-input>
    <app-form-input
      [field]="resetPasswordForm.password"
      purpose="newPassword"
      autocomplete="new-password"
    ></app-form-input>

    <app-form-input
      [field]="resetPasswordForm.confirmPassword"
      purpose="confirmPassword"
      autocomplete="new-password"
    ></app-form-input>

    <div class="flex justify-center" [class.h-30]="isLoading()">
      @if (!isLoading()) {
        <app-button
          [disabled]="resetPasswordForm().invalid()"
          label="Confirm New Password"
          type="submit"
        ></app-button>
      } @else {
        <app-loader />
      }
    </div>
  </form>
}

<div class="mt-8 text-center">
  <p class="text-sm text-text">
    Back to
    <a [routerLink]="['/auth/signin']" class="ml-1 font-bold text-accent hover:text-accent-light">
      Sign In
    </a>
  </p>
</div>
