/* You can add global styles to this file, and also import other style files */
@import './styles/fonts.css';
@import './styles/colors.css';

@import 'tailwindcss';

@plugin 'tailwindcss-animate';
@plugin '@tailwindcss/typography';

@theme {
  /* fonts */
  --font-header: 'Sora', sans-serif;
  --font-body: 'Inter', sans-serif;

  /* main */
  --spacing-app-max-width: 1920px;

  /* responsive */

  --breakpoint-xs: 480px; /* Sehr kleine/ältere Smartphones */
  --breakpoint-sm: 640px; /* Standard-Handys */
  --breakpoint-md: 768px; /* Tablets */
  --breakpoint-lg: 1024px; /* Laptops */
  --breakpoint-xl: 1280px; /* Desktop-Monitore */
  --breakpoint-2xl: 1440px; /* Dein Haupt-Dashboard-Target */
  --breakpoint-3xl: 1920px; /* Extrem breite Screens */
}

@custom-variant h-650 (@media (min-height: 650px));
@custom-variant screen-low (@media (min-width: 768px) and (min-height: 650px));

body {
  background-color: var(--color-surface);
  color: var(--color-text-main);
  margin: 0;
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
label {
  font-family: var(--font-header);
}

button,
a {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}
button:focus-visible,
a:focus-visible,
input:focus-visible,
textarea:focus-visible,
img:focus-visible {
  outline: none;
}

/* Den Scroll-Container mit einer Klasse markieren, z.B. .custom-scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Schön schmal */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Versteckt den Hintergrund des Balkens */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #bbb2d8; /* Dein helleres Lila */
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7c6db2; /* Dein Haupt-Lila beim Drüberfahren */
}

@keyframes buttonFadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-hero-button {
  opacity: 0;
  /* Startet bei 2.4 Sekunden, also genau 0.4s nachdem "Vision" erschienen ist */
  animation: buttonFadeIn 2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  animation-delay: 3.3s;
}

.dashboard-page {
  @apply flex flex-1;
}
