<section
  class="flex flex-col overflow-hidden h-full min-w-0 rounded-xl border border-slate-200 bg-white-medium"
>
  <header
    class="flex items-center gap-4 h-16 px-6 border-b border-primary-subtle bg-white"
    [class.bg-studio-header]="title() === 'Studio'"
    [class.bg-white]="title() !== 'Studio'"
  >
    <div
      class="flex items-center gap-2 px-3 py-1.5 rounded-xl border border-primary-subtle bg-layer"
      [class.bg-slate-900]="title() === 'Studio'"
      [class.bg-layer]="title() !== 'Studio'"
    >
      <span class="font-black text-[10px] text-primary uppercase tracking-wider">
        {{ title() }}
      </span>
    </div>

    <div class="flex flex-1 items-center gap-4 max-w-xl">
      <ng-content select="[searchHeader]"></ng-content>
    </div>
  </header>

  <div class="flex-1 overflow-hidden">
    <ng-content></ng-content>
  </div>
</section>
