<section
  class="flex flex-col flex-1 w-full lg:h-full rounded-xl border border-border-gentle bg-white-medium"
>
  <header
    class="flex items-center gap-4 h-16 px-4 sm:px-6 py-2 border-b border-primary-subtle rounded-t-2xl bg-white"
    [class.bg-studio-header]="title() === 'Studio'"
    [class.bg-white]="title() !== 'Studio'"
  >
    <div
      class="flex items-center gap-2 px-3 py-1.5 rounded-xl border border-primary-subtle bg-layer"
      [class.bg-bg-strong]="title() === 'Studio'"
      [class.bg-layer]="title() !== 'Studio'"
    >
      <h1 class="font-black text-[8px] sm:text-[10px] text-primary uppercase tracking-wider">
        {{ title() }}
      </h1>
    </div>

    <div class="flex flex-1 items-center gap-4 max-w-xl">
      <ng-content select="[searchHeader]"></ng-content>
    </div>
  </header>

  <div class="h-full overflow-hidden">
    <ng-content></ng-content>
  </div>
</section>
