<section class="flex flex-col h-full justify-between">
  <div class="flex flex-col gap-1 text-lg text-zinc-500">
    @if (showSettings()) {
      <a
        routerLink="/dashboard/gallery"
        class="flex items-center gap-3 h-12 transition-all duration-300 hover:text-[#7c6db2]"
        [class.ps-4]="!isCollapsed()"
        [class.justify-center]="isCollapsed()"
      >
        <lucide-icon class="w-5 h-5" [img]="arrowLeftIcon"></lucide-icon>
        @if (!isCollapsed()) {
          <span class="tracking-tight text-sm font-bold whitespace-nowrap overflow-hidden"
            >Back to Dashboard</span
          >
        }
      </a>

      @for (item of settingsMenuItems; track item.label) {
        <ng-container *ngTemplateOutlet="navLink; context: { item: item }"></ng-container>
      }
    } @else {
      @for (item of sideBarMenuItems; track item.label) {
        <ng-container *ngTemplateOutlet="navLink; context: { item: item }"></ng-container>
      }
    }
  </div>

  <ng-template #navLink let-item="item">
    <a
      [routerLink]="item.route"
      routerLinkActive="bg-[#9b8fbc] font-bold text-white !border-[#7c6db2]"
      [routerLinkActiveOptions]="{ exact: true }"
      class="group flex items-center gap-3 h-12 transition-all duration-300 rounded-e-4xl border-transparent hover:bg-[#bbb2d8] hover:text-white cursor-pointer"
      [class.ps-4]="!isCollapsed()"
      [class.justify-center]="isCollapsed()"
      [class.border-l-4]="!isCollapsed()"
    >
      <lucide-icon
        class="w-5 h-5 transition-transform duration-200 group-hover:scale-110 shrink-0"
        [img]="item.icon"
      ></lucide-icon>

      @if (!isCollapsed()) {
        <span
          class="transition-transform duration-300 group-hover:translate-x-2 whitespace-nowrap overflow-hidden"
        >
          {{ item.label }}
        </span>
      }
    </a>
  </ng-template>

  @if (!isCollapsed()) {
    <div class="flex flex-col gap-1 text-zinc-500 font-medium text-sm">
      @for (item of supportMenuItems; track $index) {
        <a
          [routerLink]="item.route"
          class="flex items-center ml-1 gap-2 ps-4 h-8 transition-all duration-300 hover:text-[#7c6db2] hover:font-bold cursor-pointer"
        >
          <span class="transition-all duration-300 whitespace-nowrap overflow-hidden">
            {{ item.label }}
          </span>
        </a>
      }
      <div class="border-t p-4 mt-3 text-xs border-[#9b8fbc]">
        <p class="ml-1 whitespace-nowrap overflow-hidden">© 2023 Nuvinary</p>
      </div>
    </div>
  }
</section>
