<header class="flex items-center justify-between h-16 px-6">
  <div class="flex items-center gap-4">
    <button
      (click)="onToggleSidebar()"
      class="rounded-4xl text-text-gentle transition-colors p-2 hover:text-white hover:bg-white-soft"
    >
      <lucide-icon [img]="menuIcon" class="w-6 h-6 stroke-[1.5px]"></lucide-icon>
    </button>

    <span class="text-xl tracking-tight font-bold text-white">Nuvinary</span>
  </div>

  <div class="relative">
    <button
      id="user-menu-button"
      (click)="onToggleMenu()"
      class="group relative flex items-center justify-center w-10 h-10 rounded-full shadow-lg transition-all"
      [style.background-color]="authUser()?.avatarColor || 'transparent'"
    >
      <div class="absolute inset-0 rounded-full transition-colors group-hover:bg-white-soft"></div>

      <span class="text-md font-bold tracking-wide text-white">
        {{ authUser() | userInitial }}
      </span>
    </button>

    @if (isMenuOpen()) {
      <app-user-menu (closeMenu)="isMenuOpen.set(false)"></app-user-menu>
    }
  </div>
</header>
